# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Logs
*.log

# Database
*.db

# Delve
__debug_bin*


#Emacs temp files
*~

   
# specific data
/bootstrap-5.3.0-dist/
/tinymce/
/photos/
/blaze_auth/
/articles/
/shared/
/logs/
/data/
.DS_Store   
.vscode
!launch.json
!tasks.json



	

